extends layout

block content
    .column_left
        .column_right_grid
            .newsletter
                h3 Choose one bet option
                input.my_button(type='submit', value='Champion  ', onclick='selectBetType("champion")')
                = "\n"
                input.my_button(type='submit', value='Team color', onclick='selectBetType("team")')

    .column_middle
        .column_middle_grid1( id="championSelector", style="display:none" )
            .profile_picture
                input(id='championSearch', type='search', value='Champion name', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Champion name';}")
                a(href='')
                    img(id="championImg", src='', alt='')
                .profile_picture_name
                    h2(id="championName") No champion selected!
                    p(id="championSubtitle")        
            .articles_list
                ul(id="searchTable")
                    each champ in champs
                        li(class='seach-champ-li')
                            a.red(onclick='selectChampion("#{champ.portraitURL}", "#{champ.name}", "#{champ.title}")')
                                img(src=champ.portraitURL, alt='')
                                h5 #{champ.name}
                            .clear
                    .clear
                .clear
                script.
                    var $rows = $('#searchTable li');
                    $('#championSearch').keyup(function() {
                        var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
    
                        $rows.show().filter(function() {
                            var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                            return !~text.indexOf(val);
                        }).hide({duration: 400, easing: 'linear'});
                    });
                .clear
        .column_right_grid( id="teamSelector", style="display:none" )
            .newsletter
                h3 Choose one team
                input.my_button(type='submit', style="background:red" , value='Red team', onclick='')
                = "\n"
                input.my_button(type='submit', style="background:blue" , value='Blue team', onclick='')

    .column_right

